<%include header%>
<%include navigator%>
<div class=" top-title row col-md-12">
    <div class="jumbotron-fluid">
        <h2 class="page-header">AboutUs</h2>
        <p>About Home Automation</p>
    </div>
</div>

<div class="row">
    <div class="row aboutus-3">
        <div class="col-md-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>

        <div class="col-md-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>

        <div class="col-md-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>

        <div class="col-md-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>

    </div>


    <div class="aboutus aboutus-12 row">
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>
    </div>

    <div class="row aboutus-6">
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>

        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>
    </div>

    <div class="row aboutus aboutus-4">
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>

        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores, earum et expedita inventore iste natus nemo nesciunt placeat provident repudiandae sapiente ut veniam! Dicta iste omnis sed vel voluptate.</p>
        </div>
    </div>

</div>
