<%include header%>
<%include navigator%>
<div class="jumbotron-fluid">
    <h2 class="page-header">Features</h2>
    <p>Home Automation Features</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <ul>
                <li>Camera</li>
                <li>Lighting</li>
                <li>Locks</li>
                <li>Weather</li>
                <li>Appliance</li>
            </ul>
        </div>
    </div>

</div>
<%include footer%>