<div class="container-fluid">
    <footer class="footer">
        <p>&copy; 2016 A simple and not-for-production home automation system with Raspberry Pi.</p>
    </footer>
    <script  type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>
</div>
</html>