<%include header%>
<%include navigator%>
<div class="jumbotron-fluid">
    <h2 class="page-header">Temperature Control</h2>
    <p>Home Automation Temperature control features:</p>

    <ul>
        <li>Automatically adjust every time you arm or disarm your security system.</li>
        <li>Design customized scenes and schedules for comfort and energy savings</li>
        <li>Control your thermostats on-the-go via your smartphone.</li>
        <li>Create lockouts to keep temperature limited</li>
</div>
<%include footer%>