<%include header%>
<%include navigator%>
<div class="jumbotron-fluid">
    <h2 class="page-header">Temperature Control</h2>
    <p>Home Automation Temperature control features:</p>

    <ul>
        <li>Automatically adjust every time you arm or disarm your security system.</li>
        <li>Design customized scenes and schedules for comfort and energy savings</li>
        <li>Control your thermostats on-the-go via your smartphone.</li>
        <li>Create lockouts to keep temperature limited</li>
</div>

<div class=" top-title row col-md-12">
    <div class="jumbotron-fluid">
        <h2 class="page-header"> Profile for: <%= user.username%></h2>
        <p>Home Automation Temperature:</p>
    </div>
    <div class="row">
        <a type="button" href="#./add_camera" class="btn btn-primary btn-lg">Add New Thermostat</a>
    </div>
</div>
<div class="device-list-div card-block">

</div>



<%include footer%>