body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}


.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  margin-top:40px;
}

footer {
  position: fixed;
  height: 33px;
  bottom: 0;
  width: 100%;
}

.form-control {
  max-width: 400px;
}

.all-forms{
    margin-left: 30px;
}


.top-title{
    margin: 30px;
}

.device-list {
    margin: 20px;
}

.aboutus-12{
    margin: 20px;
}

.aboutus-6{
    margin: 20px;
}

.aboutus-4{
    margin: 20px;
}

.aboutus-3{
    margin: 20px;
}

